*{margin:0 auto;padding:0;}
*:not(.fa){font-family:'NotoSansCJKkr-Regular' !important;}
body{padding:0 !important; background-color:#DDDFE2;}
h1, h2, h3, h4, h5{margin:0;}

.btn-basic:focus, .btn-basic:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.btn-basic, .btn-basic:active, .btn-basic:focus, .btn-basic:hover {
    background-color: #007F6B;
}

.mr10{margin-right:10px !important;}
.mb10{margin-bottom:10px !important;}

.dis-b{display:block;}
.dis-ib{display:inline-block;}

.ta-r{text-align:right;}
.ta-l{text-align:left;}
.ta-c{text-align:center;}

.va-m{vertical-align:middle;}

.clear{clear:both;}

.fl{float:left;}
.fr{float:right;}

.bold{font-weight:bold;}

.hide{display:none;}

.pointer{cursor:pointer;}

.hoverLine:hover{
	text-decoration: underline;
}

.fa{vertical-align:middle;}