/*** gnb영역(네비게이션) ***/
.gnbArea{
	z-index: 9999;
	width:100%;
	height:44px;
	margin: 0 auto;
	position: fixed;
	display: flex;
	top:0;
	background-color: #007F6B !important;
}
.gnbArea div{
    position: relative;
    float:left;
    flex: 1;
    height:100%;
    background-color: #007F6B !important;
    text-align:center;
    line-height:44px;
    cursor:pointer;
}
.gnbArea div>.fa{
    background-color: #007F6B !important;
    color: #003C35 !important;
}
.gnbArea div.on{
    background-color: #003C35 !important;
}
.gnbArea div.on>.fa{
    background-color: #003C35 !important;
    color: #FFFFFF !important;
}

.gnbArea-view{
	z-index: 9999;
	width:100%;
	height:48px;
	margin: 0 auto;
	position: fixed;
	top:0;
	background-color: #007F6B !important;
	color: #FFFFFF !important;
	font-size:18px;
	line-height:48px;
	text-align:center;
}

.gnbArea-view button{
	position: fixed;
    left: 0;
    top: 7px;
}

/*** 컨테이너 공통 ***/
.container{
	margin-top:50px;
}

.container .regDate{
	color: #90949c;
}

/*** 로그인페이지 ***/
.loginArea{
	padding-top: 50px;
    overflow-y: hidden;
}

.snsLogos{
	display:flex;
}

.snsLogo{
	width:45%;
}

.snsLogo img{
	width:100%;
}

/*** view 공통 ***/
.site-wrapper{
	margin-top:50px;
}

/*** article 공통 ***/

article{
	background-color: #FFFFFF !important;
	padding: 0 10px 10px 10px;
	margin:0 0 8px;
}

article header{
	padding: 10px 0 0;
	display:inline-flex;
	margin: 0 0 12px;
}

article .userImage{
    height: 50px;
    width: 50px;
    border-radius: 1000px;
    overflow:hidden;
    align-items: flex-start;
    display: flex;
}

article .userImage img{
    width: 100%;
    height: auto;
}

article .title{
    margin: auto 0;
}

article .contentArea .bestRecord{
	color: #007F6B;
}

article footer{
	color: #90949c;
}

.likeCntIcon{
	color: #ea3c3c;
}

/* 레이어 팝업 공통 */
.layer {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:100;}
.layer .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50);}
.layer .pop-layer {
	display:block;
}
 
.pop-layer{
	display:none; 
	position: absolute;
	height:100% !important;
	width:100%; 
	height:auto;  
	background-color:black;
	opacity:0.8; 
	border: 5px solid #4A4A4A; 
	z-index: 10;
}
.pop-layer p{
	font-size:15px;
}
.pop-layer input{
	font-size:15px;
}
#pop-title{
	font-size:20px;
}
.pop-layer .pop-container {
	padding: 20px 25px;
	max-height:100%;
}
.pop-layer p.ctxt {color: #666; line-height: 25px;}
.pop-layer .btn-r {
	width: 100%;
    position: absolute;
    top: 0px;
    text-align: right;
    right: 0px;
}
.pop-title{
	border-bottom:1px solid;
}
.pop-content-box{
	width: 366px;
    border: 1px groove #EBEBEB;
    word-break: break-all;
    padding: 0 5px;
}

/*** index ***/
#a_index .replyArea{
	border-top: 1px solid #DDDFE2;
    padding: 5px;
}

/*** view ***/
#a_puzzleMain{
	margin-bottom:2px;
}

#a_puzzleMain .contentArea img{
	width:100%;
}

#likeBtn>i{
	color:#a0a0a0;
}

#likeBtn.like-active>i, #likeBtn.like-active>span{
	color:#ea3c3c !important;
}

/*** 댓글영역 ***/
#a_puzzleMain+.replyArea{
	padding: 10px 10px;
	background-color:#f3f3f3;
}

.replyArea>div:first-child{
	text-align: center;
    max-width: 50px;
}

.replyArea .replyWriteArea{
	max-width: 100% !important;
}

.replyArea .userImage{
    height: 40px;
    width: 40px;
    border-radius: 1000px;
    overflow:hidden;
    align-items: initial;
    display: inline-block;
}

.replyArea .userImage img{
    width: 100%;
    height: auto;
}

.replyArea .replyContent>div:first-child{
	color:#5e5e5e;
	font-weight: bold;
}

.replyArea .replyContent>div:last-child{
	color:#90949c;
	font-size:12px;
}

.replyArea #userReplyInput{
	flex:1;
}

.replyArea .replyItems{
	border-top: 1px solid #DDDFE2;
	padding: 10px 0;
	display:flex;
}

.replyArea .replyItems .replyItem{
	flex:1;
}

.replyArea .replyItems .replyItem .replyWriter span{
	margin-left:5px;
	color:#90949c;
}

.replyUpdate, .replyDelete{
	color:#8190b0;
}

.replyUpdateArea{
	width:100%;
}

#replyMore{
	border-top: 1px solid #DDDFE2;
    padding: 7px;
}


/*** game화면 ***/
#a_puzzleGame, #a_puzzleGame>div, #a_puzzleGame, #a_puzzleGame #imgArea{
	height:100%;
}

.contentArea{
	height:70%;
}

#a_puzzleGame{
	margin:0;
}

#a_puzzleGame header{
	height:30%;
}

#a_puzzleGame header #prevImgArea{
	height:100%;
}

#a_puzzleGame .ui-draggable-dragging{
	opacity:0.5;
	z-index:9999;
}

.puzzleTarget{
	opacity:0.6;
}

.recording{
	font-size: 40px;
	font-weight:500;
	color:red;
}

.layer-puzzleStartPop .content>img{
	display:block; 
	width:70%;
}

.layer-puzzleStartPop .content>i{
	color:#007F6B; 
	font-size:250px;
}

.layer-puzzleStartPop .content>div{
	font-size:30px; 
	color:#007F6B;
}

.layer-puzzleStartPop .content>div>span{
	display:block;
}

.layer-puzzleEndPop .content{
	font-size:50px; 
	color:#007F6B;
}

.layer-puzzleEndPop .content span{
	display:block;
}

.layer-puzzleEndPop .timePrint{
	color:red;
}